/* Global Styling*/

html,
body {
    height: 100%;
	
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.img-hover:hover {
    opacity: 0.8;
}
/**navigation**/
.added_nav{
	background:#000;
	border-bottom:2px solid #ffd300;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffd300;
}



/* Home Page Carousel */

header.carousel {
    height: 70%;
	border-bottom:2px solid #FFD300;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.carousel-caption h2 {
    background: #000;
    height: 35px;
    font-size: 10pt;
    padding: 5px;
    width: 55%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
	background: rgba(0, 0, 0, 0.64);
	margin: auto;
	padding-top: 10px;
}


/*home page spacing after the slider*/


.spacing_after_slide{
	height:15px;
}


/**featured icons home*/


.colouring_sama{background:#FFD300 !important;}

/* Blog home heading*/

.blog_home_heading,.blog_home_sub_heading{color:#000;}
p.lead{color:#ffd300;}
.read_more_blog{background:#fff;border:1px solid #ccc;color:#000;}

/*Logo styling*/
.image_logo{-webkit-border-radius: 0px 0px 8px 8px;/**chrome**/
             border-radius: 0px 0px 8px 8px;/**mozilla**/
              border-bottom: 1px solid #ffd300;
			  }
			  

/*Quote section home page*/


  /*Center 'Quote of the day*/

 div.quote_section {
    text-align: center;
    padding-top: 1px;
    background: #cccccc;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin-top: 08px;

}
div.quote_section p{
    text-align:center;
    padding-bottom: 4px;
}
 

/*Sliding stuff below::admin updates etc*/

.scoller{
    min-height: 5px;
    padding: 5px;
    margin-bottom: 18px;
    background-color: #ffd300;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}


/* Footer Styles */


footer {
    margin: 50px 0;
}


/* Responsive Styles */


@media(max-width:991px) {
  .navbar-nav {
    margin: 32.5px -15px;
}
 /*Add styles in here**/
}

@media(max-width:767px) {
	.navbar-nav {
    margin: 32.5px -15px;
}
    /*Add sty;es in here**/
    }

    header.carousel .carousel {
        height: 70%;
    }
}

/***inner_page_css****/

.nav2{
	height:15px;
	width:100%;
	float:left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 42px;
}
.left_bar{
	border: 1px solid #ccc;
    float: left;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 5px;
	margin-bottom: 12px;
}

.nav1{
	font-family: "Helvetica"; 
	margin-top: 42px;
}
p{
	text-align:justify;
}
.breadcrumb a{color:#000;}
.breadcrumb li a:active{
	color:#ffd300 !important;
}

/****blog page css starts here ****/
.breadcrumb-item {border:none;}
.single_post{padding-bottom: 10px;}

ol {
  list-style-type: none;
  padding-right: 15px;
    padding-left: 18px;
}

.categories{
	border: solid rgba(128, 128, 128, 0.35) 1px;
	
}
.categories a{color:#000;}
.categories img{margin:auto;}

.post{
	margin-top: 0px;

}


.categories li{
    line-height: 27px;
	border-bottom: solid rgba(128, 128, 128, 0.35) 1px;
	
}

.read{
	border:solid grey 1px;
	border-radius:5px;
	padding:10px;
	color:#000;
}

a:focus, a:hover {
    color: #23527c;
text-decoration: none;}

.intro_top{color:#FFD300}
.the_author{ color:#000;}
.the_date{color:#000;}
	
}
/***commenting for blog***/
.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #FFD300;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.panel-default {
    border-color: #FFD300;
}
/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after, .comment-list .arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }
  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 30px;
    /*Use boarder color of panel*/
    border-right-color: inherit;
    border-width: 16px;
  }
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 1px;
    top: 31px;
    /*Change for different outline color*/
    border-right-color: #FFFFFF;
    border-width: 15px;
  }
  
.comment-list .comment-post {
  margin-top: 6px;
}

.color_btn{
	background:#fff;
	    border-color: #FFD300;
		color:#000;
}
textarea{border-radius:5px;
-webkit-border-radius:5px;
padding-left: 10px;
        }

.likes
{ font-size:30px;}

.single_post_full{
	padding-bottom:0px;
}
.number_likes , .number_dislikes{
	font-size:20px;
}

.btn-success:hover {
    color: black;
    background-color: white;
    border-color: #FFD300;
}
/***voting Page***/

/**typing effect**/
.type_container{
	height:80px;
}

.btn-warning {
    color: #000;
    background-color: #ffd300;
    border-color: #eea236;
}

/****voting css for javascript***/
.bv-form .help-block{margin-bottom:0}.bv-form .tooltip-inner{text-align:left}.nav-tabs li.bv-tab-success>a{color:#ffd300}.nav-tabs li.bv-tab-error>a{color:#ffd300}
.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
    color: #a94442;
}
#success_message{ display: none;}

rect{background:#000;}

/****calendar***/

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}
.calandar_container{
	margin-top:10px;
}
div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
}

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #000;
    color: #fff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

/* responsive calendar */
@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
}
 /* -----------------------------------------------
 * Events Timeline
 * --------------------------------------------- */
 .timeline {
    list-style: none;
    padding: 10px 0;
    position: relative;
    font-weight: 300;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
    width: 100%;
    float: left;
    clear: left;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li:before, .timeline > li:after {
    content:" ";
    display: table;
}
.timeline > li:after {
    clear: both;
}
.timeline > li > .timeline-panel {
    width: calc(100% - 25px);
    width: -moz-calc(100% - 25px);
    width: -webkit-calc(100% - 25px);
    float: left;
    border: 1px solid #dcdcdc;
    background: #ffffff;
    position: relative;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #dcdcdc;
    border-right: 0 solid #dcdcdc;
    border-bottom: 15px solid transparent;
    content:" ";
}
.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #ffffff;
    border-right: 0 solid #ffffff;
    border-bottom: 14px solid transparent;
    content:" ";
}
.timeline > li > .timeline-badge {
    color: #ffffff;
    width: 24px;
    height: 24px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 16px;
    right: -12px;
    z-index: 100;
}
.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-badge > a {
    color: #ffffff !important;
}
.timeline-badge a:hover {
    color: #dcdcdc !important;
}
.timeline-title {
    margin-top: 0;
    color: inherit;
}
.timeline-heading h4 {
    font-weight: 400;
    padding: 0 15px;
    color: #000;
}
.timeline-body > p, .timeline-body > ul {
    padding: 10px 15px;
    margin-bottom: 0;
}
.timeline-footer {
    padding: 5px 15px;
    background-color:#f4f4f4;
}
.timeline-footer p { margin-bottom: 0; }
.timeline-footer > a {
    cursor: pointer;
    text-decoration: none;
}
.timeline > li.timeline-inverted {
    float: right;
    clear: right;
}
.timeline > li:nth-child(2) {
    margin-top: 60px;
}
.timeline > li.timeline-inverted > .timeline-badge {
    left: -12px;
}
.no-float {
    float: none !important;
}
@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li {
        margin-bottom: 0px;
        position: relative;
        width:100%;
        float: left;
        clear: left;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 65px);
        width: -moz-calc(100% - 65px);
        width: -webkit-calc(100% - 65px);
    }
    ul.timeline > li > .timeline-badge {
        left: 28px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .timeline > li.timeline-inverted {
        float: left;
        clear: left;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-badge {
        left: 28px;
    }
}

/***downloads page***/
.category_heading{
    color: #333;
    background-color: #fff;
    border-color: #fff;
}
.files_panel{
	border:none;
}
.file_contents{
  min-height:345px;
}
.badge{margin-left:3px;}

.files_category_carrier{
	margin-bottom:5px;}
.files_carrier{
margin: 0px 0px 0px 0px;
text-align:center;
border-bottom:1px dotted #000;
background:#fff;
padding-bottom:5px;
padding-top:5px;
}

.category_file{
	font-size:25pt;
}
.our_button{
    color:#000 ;
    background-color: #ffd300;
    border-color:none;
}

.our_button:hover {
    color: #f5f5f5;
    background-color: #ffd300;
    border-color:none;
}
.our_button:active {
    color: #f5f5f5;
    background-color: #000;
    border-color:none;
}
.our_button:focus {
    color: #fff;
    background-color: #000;
    border-color:none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #fff;
    border-color: none;
}

/**fixed bottom**/
.scoller {
    min-height: 5px;
    padding: 5px;
    margin-bottom: 0;
    background-color: #ffd300;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    bottom: 0px;
}
.copy>div p{
	background:#fff;
	text-align:center;
}


/**gallery photos**/

.gallery_carrier ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
	  
.gallery_carrier   ul li {     
          list-style:none !important;
          margin-bottom:25px;
		  
     		  
      }
.gallery_carrier  ul li img {
          cursor: pointer;
      }
.modal-body {
          padding:5px !important;
      }
.modal-content {
          border-radius:0;
      }
.modal-dialog img {
          text-align:center;
          margin:0 auto;
      }
.controls{          
        width:50px;
        display:block;
        font-size:11px;
        padding-top:8px;
        font-weight:bold;
        color:#000;		
    }
.next {
        float:right;
        text-align:right;
		color: #000;
    }
 /*override modal for pop up */
.modal-dialog {
          max-width:600px;
          padding-top: 90px;
      }

      @media screen and (min-width: 768px){
          .modal-dialog {
              width:600px;
              padding-top: 90px;
          }          
      }
	  
    @media (max-width: 991px){
          .modal-dialog {
              width:600px;
              padding-top: 90px;
          }  
          .gallery_carrier   ul li {     
          list-style-type:none !important;
          margin-bottom:25px;
		  
      }	
	}	

/***Jumbotron***/


.jumbotron {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.35) !important;
    border-radius: 5px;
    height: 230px;
    padding: 8px;
}

.jumbotron p {
    margin-bottom: 15px;
    font-size: 17px;
    font-weight: 200;
}

.jumbotron .btn-primary {
    color: #fff;
    background-color: #000;
    border: none;
}
      
/**home tab content for sama values**/
.tab-content {
    padding-top: 20px;
    border-bottom: #ddd solid 1px;
    padding-bottom: 25px;
}
.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    border-bottom-color: #FFD300;
}

.nav-tabs.nav-justified>li>a {
    border-bottom: 1px solid #ddd;
    border-radius: 4px 4px 0 0;
    color: #000;
}

/**container fluid formater***/

/***announcements home page***/

.announcement_container{
    overflow-y: auto;
}

.announcement_heading{
    border: 1px solid #000;
}

.announcer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-heading{
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
}

a.devam{color:none;}

.structure_sama{background:#000;color:#FFD300;}





